<div id="go"class="active address-menu">

  <div class="row">
    <input id="address1" class="small-10 small-centered coulmns searchbox" placeholder="First Address">
  </div>

  <div class="row">
      <input id="address2" class="small-10 small-centered coulmns searchbox" placeholder="Second Address">
  </div>

  <div class="row">
    <select id="activity" class="searchbox">
      <option value="bar" class="small-10 small-centered coulmns searchbox checkbox active">Bar</options>
      <option value="bowling ally" class="small-10 small-centered coulmns searchbox checkbox active">Bowling Alley</options>
      <option value="cafe" class="small-10 small-centered coulmns searchbox checkbox active">Cafe</options>
      <option value="lodging" class="small-10 small-centered coulmns searchbox checkbox active">Lodging</options>
      <option value="movie theater" class="small-10 small-centered coulmns searchbox checkbox active">Movie Theater</options>
      <option value="restaurant" class="small-10 small-centered coulmns searchbox checkbox active">Restaurant</options>
    </select>
  </div>

  <div class="row">
    <select id="radius">
      <option value="402.336" class="small-10 small-centered coulmns searchbox checkbox active">Within .25 miles</options>
      <option value="804.672" class="small-10 small-centered coulmns searchbox checkbox active">Within .5 miles</options>
      <option value="1609.34" class="small-10 small-centered coulmns searchbox checkbox active">Within 1 mile</options>
      <option value="8046.72" class="small-10 small-centered coulmns searchbox checkbox active">Within 5 miles</options>
      <option value="16093.4" class="small-10 small-centered coulmns searchbox checkbox active">Within 10 miles</options>
    </select>
  </div>

  <div class="row">
    <select id="mode">
      <option value="DRIVING" class="small-10 small-centered coulmns searchbox checkbox active">Driving</options>
      <option value="WALKING" class="small-10 small-centered coulmns searchbox checkbox active">Walking</options>
      <option value="TRANSIT" class="small-10 small-centered coulmns searchbox checkbox active">Public Transportation</options>
    </select>
  </div>

  <input id="address_submit" class="button small-12 columns" type="button" value="Go!">
</div>

<div class="infoWindow"></div>


<div id="map"></div>
<div class="row">
<div id='list-view' class='small-12 columns'></div> 
</div>
<div class="row">
  <div class="small-12 columns button-group">
    <a class="search button map-button">Search</a>
    <a class="list button map-button">List</a>
  </div>
</div>
