<script src="https://maps.googleapis.com/maps/api/js?libraries=places" async defer></script>

<div id="map"></div>

<script>
  
  var map;
  var activity;

  function handleSearchResults(results, status){
    for(var i = 0; i < results.length; i++) {
      var marker = new google.maps.Marker({
        position: results[i].geometry.location,
        map: map,
      });
    }
  }

  function performSearch(){
    var request = {
      bounds: map.getBounds(),
      name: "Bar"
    }
    activity.nearbySearch(request, handleSearchResults);
  }

  function initialize(location){
    var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
 
    var mapOptions = {
      center: currentLocation,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map"), mapOptions);

    var marker = new google.maps.Marker({
      position: currentLocation,
      map: map
    });

    activity = new google.maps.places.PlacesService(map);
    google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch)
  }

  $(document).ready(function(){
      navigator.geolocation.getCurrentPosition(initialize);
  });

</script>


