<script src="https://maps.googleapis.com/maps/api/js?libraries=places" async defer></script>


<input id="address1" class="searchbox">
<input id="address2" class="searchbox">
<input id="address_submit" type="button" value="Get Route">

<div id="map"></div>
<div class="row">
<div class="small-12 columns button-group">
  <a class="button">Filter</a>
  <a class="button">List</a>
</div>
</div>
<script>
  

  var map;
  var activity;


// Assigns an info window to every marker

  function handleSearchResults(results, status){
    for(var i = 0; i < results.length; i++) {
      var marker1 = new google.maps.Marker({
        position: results[i].geometry.location,
        map: map,
      });
      var infoWindow = new google.maps.InfoWindow({
        content: JSON.stringify(results[i].rating)
      });
      google.maps.event.addListener(marker1, 'click', function(){
        infoWindow.open(map, this)
      })
    }
  }

// Searches for the specific name within the bounds of the screen
  function performSearch(){
    var request = {
      bounds: map.getBounds(),
      name: "Bar"
    }
    activity.nearbySearch(request, handleSearchResults);
  }
//Runs all this functions during on initialization
  function initialize(location){

    var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
 
    var mapOptions = {
      center: currentLocation,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map"), mapOptions);

    var marker = new google.maps.Marker({
      position: currentLocation,
      map: map
    });


    activity = new google.maps.places.PlacesService(map);
    google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch)

//Directions And Route Creation
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;

    var input = (document.getElementById("address1"));
    var input2 = (document.getElementById("address2"));

    var autoComplete1 = new google.maps.places.Autocomplete(input);

    var autoComplete2 = new google.maps.places.Autocomplete(input2);

    directionsDisplay.setMap(map)

    function calculateAndDisplayRoute(directionsService, directionsDisplay){
      directionsService.route({
        origin: document.getElementById("address1").value,
        destination: document.getElementById("address2").value,
        travelMode: google.maps.TravelMode.DRIVING
      }, function(response, status){
        if (status === google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status)
        }
      });
    }
    var onChangeHandler = function() {
      calculateAndDisplayRoute(directionsService, directionsDisplay);
        };

    document.getElementById('address_submit').addEventListener('click', onChangeHandler);



  }

// Locates current location on load
  $(document).ready(function(){
    navigator.geolocation.getCurrentPosition(initialize);
  });

</script>


