<div class="container">

<div class="row">
<h2><%= @user.first_name %>
<%= @user.last_name %></h2>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone_number %></p>
</div>


<!-- IF USER HAS SAVED ADDRESSES -->

<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Saved Addresses</a>
    <ul class="menu">
      <li>Home:</li>
      <li>Work:</li>
      <li><a href='#'>Edit Addresses</a>
    </ul>
  </li>
</ul>
</div>

<!-- ELSE -->

<!-- <a href='#'>Store New Address</a> -->
