<div class='container'>
<h1>Crossroads</h1>
<div class="row">
	<div class= <a href="#" class="button small-4 small-centered columns">Login</a>
	<a href="#" class="button small-4 small-centered columns">Register</a>
	<div class='row'>
	<a href="#" class="button small-8 small-centered columns">New Search</a>
	</div>

</div>
<!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
</div>

      