<div class='container'>
<h1 id='home-title'>Crossroads</h1>

<div class="row">
	<div class="input-group-button">
		<%= link_to 'Login', login_path %>
		<%= link_to 'Register', new_user_registration_path %>
	</div>

<div class='row'>
  <div class="input-group-button">
  <%= link_to 'New Search', search_path %>
</div>

</div>

</div>

      