<div class='container'>
<h1 id='home-title'>Crossroads</h1>

<div class="row">
	<div class="input-group-button">
		<a href="#"><div class="button small-4 small-centered columns">Login</div></a>
		<a href="#"><div class="button small-4 small-centered columns">Register</div></a>
	</div>

<div class='row'>
	<div class="input-group-button">
	  <a href="#"><div class="button small-8 small-centered columns">New Search</div></a>
	</div>
</div>

</div>

      