/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
	font-family: lato;
	font-weight: 300;
}

#home-title {
	font-family: lato;
	font-weight: 300;
}

/*#top_space{
	margin-top: 6%;
}*/

.cover {
	z-index: -1;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  /*height: 31.25em;*/
}

.logo-home {
	margin-left: 25%;
	margin-top: -80px;
	margin-bottom: 10px;
}

.logo-other {
	margin-left: 30%;
	margin-top: 6%;
	margin-bottom: 10px;
}

.transportation {
	margin-bottom: 200px;
}


 .container {
 	margin-top: 105px;
 	padding-bottom: 10px;
 }

 .email {
 	text-align: center;
 }

 .address {
 	margin-left: 100px;
 }

 .address2 {
 	margin-left: 135px;
 }

 .home-button {
 	margin-left: 63px;
 }

 .button {
 	color: #fff;
 }

 .new_user {
 	margin-top: -20%;
 }

 #flash_alert {
 	text-align: center;
 	color: red;
 }

 #error_explanation h2 {
 	display: none;
 }

 ul {
 	list-style: none;
 	color: red;
 }

 h2 {
 	font-size: 30px;
 	text-align: center;
 	margin-bottom: -80px;
 }

.other-login {
	margin-top: 150px;
}

 .inline {
 	display: inline-block;
 	margin: 2px;
 }

 #create_account {
  margin-bottom: 20px;
  text-align: center;
 }

.user-link {
	width: 100%;
}

#map {
	width: 375px;
	height: 580px;
}

#list-view {
	position: relative;
	z-index: 1;
}

.list-item {
	border-bottom: .75px solid black;
	padding: 5px;
	margin-top: -15px;
	border-color: #12A643;
	z-index: -1;
}
.address-menu {
	z-index: 1;
	position: absolute;
	bottom: 65px;
}

#favorite {
	border-top: .75px solid black;
	padding: 5px;
	border-color: #12A643;
}

.button.remove a {
	color: white;
}

g
li {
	list-style-type: none;
}

.button-group {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

.map-button {
	background-color: #e67e22;
	color: #000;
	position: relative;
	padding: -2px;
	height: 45px;
	width: 49.80%;
}

.title-bar {
/*overflow: hidden;*/
height: 45px;
line-height: 45px;
position: relative;
background: #12a643;
margin-bottom: 0; 
z-index: 1;
}

.dropdown {
	z-index: 1;
}

.menu-icon {
	margin-top: -15px;
	color: #000;
}

.menu li>a {
	color: #12a643;
}

.title-bar-title {
	margin-top: -8px;
	float: right;
}

.button {
	color: #000;
	background-color: #12a643;
}

.picture {
	margin-left: 100px;
}

.searchbox {
	height: 35px;
	width: 380px;
}

#activity {
	margin-bottom: -1px;
}

#radius {
	margin-bottom: -1px;
}

#mode {
	margin-bottom: -1px;
}

a {
	color: #fff;
}


.place-link {
	color: #0000EE;
}

.favorites {
	color: #0000EE;
}

#address_submit {
	margin-bottom: 2px;
}

.session {
	margin-top: -30px;
}

.session:after {
  display: block;
  height: 1px;
  background-color: #fff;
  content: " ";
  width: 350px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color:#12a643;
}